<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <div id="wrap-colors">
      <ion-button *ngFor="let color of colors" (click)="activeColor = color" [color]="color"
        size="small" shape="round">
      </ion-button>
    </div>
  </ion-item-divider>
  <section id="section-buttons">
    <ion-text color="primary">
      <h2>Buttons</h2>
    </ion-text>
    <ion-button [color]="activeColor" expand="block" fill="solid">
      Button
    </ion-button>
    <ion-button [color]="activeColor" expand="block" fill="outline">
      Button
    </ion-button>
    <ion-button [color]="activeColor" expand="block" fill="clear">
      Button
    </ion-button>
  </section>
</ion-content>
